// @import 'bulma';
@import '~bulma-timeline';
@import '~bulma-switch';
@import '~bulma-divider';

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.splash {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.logo {
  max-width: 700px;
  margin: 5em;
}

.hidden {
  display: none;
  visibility: hidden;
}

.tlStuff {
  display: flex;
  justify-content: center;
}

.timeline {
  margin-top: 5rem;
}

.timeline-content {
  min-width: 8em;
}
@media screen and (min-width: 769px) {
  .timeline-content {
    min-width: 30em;
  }
}
@media screen and (min-width: 1024px) {
  .timeline-content {
    min-width: 40em;
  }
}

.card {
  margin-right: 1.5rem;
  width: 100%;
}

.card .media-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.seriesMain {
  margin-top: 5rem;
}

.seriesSection {
  /* margin: 1rem;
  padding: 2rem 1rem;
  border: 2.5px solid white;
  border-radius: 5%; */
}

.seriesSwitch {
  padding: 0 1rem;
  display: flex;
  justify-content: space-between;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
